.dynamic-select {
   display: flex;
   align-items: center;
   flex: auto;
   flex-basis: 38%;
   flex-wrap: wrap;
   .options {
      visibility: hidden;
      overflow: hidden;
      position: absolute;
      top: rem(35);
      left: 0;
      z-index: 50;
      &--open {
         visibility: visible;
      }
      .option {
         white-space: nowrap;
      }
   }
   .select-shadow-wrapper {
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      width: 100%;
      position: relative;
      &[aria-invalid="true"] {
         border-color: red;
      }
      .selected-option {
         cursor: pointer;
         position: relative;
         width: 100%;
         &[value=""] {
            color: $mainGray;
         }
         &::after {
            @include transition;
            // content: "\e902";
            font-family: icons;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 20px;
            width: 14px;
            height: 10px;
            padding-left: 20px;
            @include fon(10, 10);
         }
         &--open {
            &::after {
               transform: translateY(-50%) rotateX(180deg);
            }
         }
      }
      .options {
         width: 100%;
         margin-top: rem(12);
         padding: rem(7) 0;
         background: $mainYellow;
         outline: 1px solid $mainTextColor;
         @include afont(16, 12);
         .option {
            padding: rem(12) 5%;
         }
         .option:not([data-value=""]) {
            &:hover {
               background-color: rgba($mainPink, 0.2);
            }
         }
      }
      .option {
         width: 100%;
         cursor: pointer;
         &[data-selected] {
            background-color: $mainPink;
            background-color: rgba($mainPink, 0.4);
         }
         &[data-value=""] {
            opacity: 0.5;
         }
      }
   }
   select {
      font-size: inherit;
      option {
         padding: 5px;
      }
   }
}
