.popup {
    scroll-behavior: smooth;
    transition: all 0.5s;
    opacity: 0;
    position: fixed;
    @include afont(16, 14);
    line-height: math.div(22, 16);
    &--open {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 130;
        opacity: 1;
        visibility: visible;
        display: block;
    }
    &--is-fading-out {
        animation: fadeOut 0.5s;
    }
    &-header {
        position: relative;
        display: flex;
        justify-content: space-between;
    }
    &-container {
      overflow: auto;
    }
    &-inner {
        width: auto;
        max-height: 100%;
        // background-color: #fff; // ???
    }
    &-body {
        max-width: $maxWidthContainer + px;
        margin: 0 auto;
        // background-color: #fff; // ??
        // padding: 25px 30px 70px;
    }
}
button.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    font-size: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    align-self: flex-start;
    flex-grow: 0;
    &:hover {
        // background-color: rgba(50, 50, 50, 0.05);
        // transform: scale(1.4);
        // border: 1px solid;
        // border-radius: 50%;
    }
    &::before {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        position: absolute;
        width: 1px;
        height: 20px;
        top: 0;
        left: 50%;
        background-color: #07273e;
        transform: rotate(45deg);
    }
    &::after {
        content: "";
        display: block;
        width: 1px;
        height: 20px;
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 20px;
        background-color: #07273e;
        transform: rotate(135deg);
    }
}
