button {
   border: none;
   background-color: transparent;
   cursor: pointer;
   color: inherit;
}
input,
textarea,
select,
option {
   font-weight: inherit;
   background-color: inherit;
   font-size: inherit;
   line-height: inherit;
   &::placeholder {
      font-size: inherit;
   }
   &:-webkit-autofill,
   &:-webkit-autofill:focus {
      transition: background-color 600000s 0s, color 600000s 0s;
   }
}
textarea {
   display: block;
}
a {
   color: inherit;
}
th {
   text-align: left;
   font-weight: inherit;
}
[data-spoiler] {
   cursor: pointer;
}
[class*="image-sprite"] {
   display: none;
}
[class*="__title"] {
   @include avalue("font-size", 40, 20);
   line-height: math.div(49, 40);
   font-weight: 600;
   @include avalue("margin-bottom", 50, 30);
}
[class*="__title-smaller"] {
   @include avalue("font-size", 26, 20);
   line-height: 1.4;
   font-weight: 600;
}
[class*="main-text"] {
   font-size: rem(20);
   line-height: 1.5;
   font-weight: 500;
   p {
      &:not(:last-child) {
         margin-bottom: em(15, 20);
      }
   }
   @media (max-width: 660px) {
      font-size: rem(16);
      font-weight: 400;
      line-height: 1.4;
      flex: 0 0 100%;
      p {
         &:not(:last-child) {
            margin-bottom: em(10, 16);
         }
      }
   }
}
[class*="right-col"] {
   padding-left: rem(65);
   flex: 0 0 pc(550 + 65, $maxWidthContainer);
   @media (max-width: 767px) {
      padding-left: 0;
   }
}

[class*="__input"] {
   transition: border-color 0.15s;
   &[aria-invalid="true"] {
      border-color: red;
   }
}
.form-field {
   border-width: 1px;
   border-style: solid;
   border-color: transparent transparent $mainTextColor;
   position: relative;
   transition: border-color .3s;
   &:focus-within {
      border-color: $mainTextColor;
   }
}
.form-input {
   padding: rem(12) rem(10);
   width: 100%;
   &::placeholder {
      color: $mainGray;
      font-weight: 400;
   }
}
::selection {
   background-color: rgba($mainPink, 0.5);
}
.swiper-slide {
   user-select: none;
   cursor: grab;
}
.swiper-button-next, .swiper-button-prev {
   cursor: pointer;
}
.swiper-lazy {
   transition: opacity .5s;
   &:not(.loaded) {
      opacity: 0;
   }
}
body img.spinner {
   @include size(80);
   @include abs-center;
   z-index: 0;
}
._error-list {
   margin-top: rem(5);
   color: red;
   font-size: rem(12);
   min-height: rem(17 * 2);
   opacity: 0;
   transition: opacity 0.3s linear;
   &--visible {
      opacity: 1;
   }
   li:not(:last-child) {
      margin-bottom: rem(7);
   }
}
.special-offer-text {
   background: url("@img/special-offer.svg") no-repeat;
   background-size: cover;
   @include flex-center;
   font-size: rem(20);
   line-height: math.div(28, 20);
   font-weight: 600;
   text-align: center;
   min-width: 280px;
   min-height: 200px;
}
.button {
   padding: em(21, 20);
   font-size: rem(20);
   line-height: math.div(28, 20);
   font-weight: 600;
   border: 1px solid $mainPink;
   color: #fff;
   background-color: $mainPink;
   border-radius: em(100, 20);
   transition: background-color 0.2s, color .2s;
   @media (any-hover: hover) {
      &:hover {
         color: $mainPink;
         background-color: #fff;
      }
   }
}
.big-button {
   padding: em(18, 18) em(26, 18);
   font-size: rem(18);
   line-height: math.div(25, 18);
}

@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
      // display: none;
   }
}

br.responsive {
   display: none;
}

.nobr {
   white-space: pre;
}

.row:after {
   display: block;
   content: "";
   clear: both;
}
.rub:after {
   content: "\u20BD";
}
.swal2-container {
   color: $mainTextColor !important;
   .swal2-styled.swal2-confirm {
       @extend .button;
       min-width: 150px;
       padding: rem(10);
       background-image: none !important;
       &:focus {
         box-shadow: none;
       }
   }
   .swal2-icon.swal2-success .swal2-success-ring {
       border-color: $mainPink;
   }
   .swal2-icon.swal2-success [class^="swal2-success-line"] {
       background-color: $mainPink;
   }
}
.copy-success {
   animation: buttonPress 300ms 1;
   @keyframes buttonPress {
      0% {
         text-shadow: 0 0 0 $mainPink;
         color: inherit;
      }
      50% {
         color: $mainPink;
         text-shadow: 0 1px 10px $mainPink;
      }
      0% {
         text-shadow: 0 0 0 $mainPink;
         color: inherit;
      }
   }
}
img.error {
    visibility: hidden;
}
.choices {
   & &__inner {
      background-color: inherit;
      border: none;
      color: inherit;
      font-size: inherit;
      border-width: 1px;
   }
   & &__placeholder {
         color: $mainGray;
         opacity: 1;
      }
      .choices__list--dropdown .choices__item, .choices__list[aria-expanded] .choices__item {
         font-size: inherit;
      }
      .choices__item {
         white-space: nowrap;
      }
      .choices__item.choices__item--choice.is-selected.choices__item--selectable.is-highlighted {
         background-color: rgba($mainPink, .3);
      }
   & .choices__list--dropdown.is-active, & .choices__list[aria-expanded].is-active {
      border: none;
      outline: 1px solid ;
      border-radius: 0;
   }
   
}
