.cctv {
   @include avalue("margin-top", 150, 100);
   // .cctv__container
   &__container {
      @media (max-width: 767px) {
         padding-left: rem(10);
         padding-right: rem(10);
      }
   }
   // .cctv__header
   &__header {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(55);
      @media (max-width: 767px) {
         margin-bottom: em(30, 20);
      }
   }
   // .cctv__title
   &__title {
      flex: 0 0 pc(650, $maxWidthContainer);
      padding-right: rem(30);
      @media (max-width: 767px) {
         flex: 0 0 100%;
      }
   }
   // .cctv__subtitle
   &__subtitle {
      flex: 0 0 pc($maxWidthContainer - 650, $maxWidthContainer);
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      p {
         &:not(:last-child) {
            margin-bottom: em(12, 16);
         }
      }
      @media (max-width: 767px) {
         flex: 0 0 100%;
      }
      @media (min-width: 1200px) {
         padding-right: rem(100);
      }
   }
   // .cctv__body
   &__body {
   }
   // .cctv__text
   &__main-text {
      grid-column: span 3;
      height: 5rem;
   }
   // .cctv__suites
   &__suites {
   }
}
.cctv {
   display: flex;
   flex-direction: column;
   row-gap: rem(55);
   @media (max-width: 767px) {
      row-gap: rem(25);
   }
   &__main-suites,
   &__additional-suites {
      display: grid;
      justify-content: space-between;
      grid-template: auto/repeat(auto-fill, rem(140));
      // gap: rem(55) rem(36);
      column-gap: rem(36);
      // outline: 1px solid blueviolet;
      @media (max-width: 767px) {
         // gap: rem(25) rem(26);
         column-gap: rem(26);
      }
      @media (max-width: 660px) {
         grid-template-columns: repeat(3, rem(140));
         justify-content: space-around;
      }
      @media (max-width: 500px) {
         grid-template-columns: repeat(3, rem(80));
      }
   }
   &__main-suites {
      // margin-bottom: rem(25);
      max-width: calc(100% - 14px); // negative right offset of suite image
   }
   &__additional-suites {
      // margin-top: rem(25);
      // margin-bottom: rem(25);
      // outline: 1px solid olivedrab;
      &[hidden] {
         display: none;
      }
      &._spoiler--open {
         // margin-top: rem(0);
      }
      &._spoiler--is-sliding {
         // margin-top: 25px;
      }
      &._spoiler--is-sliding-up {
         // margin-top: rem(25);
      }
      &._spoiler--is-sliding-down {
         // margin-top: rem(25);
      }
   }
   // .suites__suit
   &__suit {
      margin-bottom: rem(55);
      @media (max-width: 767px) {
         // gap: rem(25) rem(26);
         margin-bottom: rem(25);
      }
      user-select: none;
      @include flex-center;
      width: rem(140);
      height: rem(140);
      font-size: rem(40);
      color: #b65978;
      font-weight: 600;
      background: rgba(250, 247, 245, 0.5);
      position: relative;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      align-self: end;
      @media (any-hover: hover) {
         &:hover {
            .cctv-suites__image {
               // opacity: 1;
               fill: #f6a6bf;
               transform: rotate(-45deg);
            }
         }
      }
      @media (max-width: 500px) {
         width: rem(80);
         height: rem(80);
         flex-basis: 25%;
      }
   }
   // .suit__image
   &__suit-image {
      position: absolute;
      right: rem(-14);
      bottom: 0;
      width: 50%;
      height: rem(59);
      stroke: #f6a6bf;
      stroke-width: 4;
      opacity: 0.7;
      fill: white;
      transition: transform 0.3s, opacity 0.3s, fill .3s;
      @media (max-width: 500px) {
         width: rem(40);
         height: rem(33);
         right: rem(-8);
      }
   }
   &__show-more {
      font-size: rem(14);
      line-height: math.div(20, 14);
      color: $mainGray;
      width: 100%;
      text-align: center;
      margin-top: rem(15);
      @media (max-width: 767px) {
         margin-top: rem(15);
      }
      padding: rem(15) 0;
      display: none;
      // outline: 1px solid navajowhite;
      &--active {
         display: block;
      }
   }
}
