.cctv {
   @include avalue("margin-top", 150, 100);
   // .cctv__container
   &__container {
      @media (max-width: 767px) {
         padding-left: rem(10);
         padding-right: rem(10);
      }
   }
   // .cctv__header
   &__header {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: rem(55);
      @media (max-width: 767px) {
         margin-bottom: em(30, 20);
      }
   }
   // .cctv__title
   &__title {
      flex: 0 0 pc(650, $maxWidthContainer);
      padding-right: rem(30);
      @media (max-width: 767px) {
         flex: 0 0 100%;
      }
   }
   // .cctv__subtitle
   &__subtitle {
      flex: 0 0 pc($maxWidthContainer - 650, $maxWidthContainer);
      &:not(:last-child) {
         margin-bottom: rem(20);
      }
      p {
         &:not(:last-child) {
            margin-bottom: em(12, 16);
         }
      }
      @media (max-width: 767px) {
         flex: 0 0 100%;
      }
      @media (min-width: 1200px) {
         padding-right: rem(100);
      }
   }
   // .cctv__body
   &__body {
   }
   // .cctv__text
   &__main-text {
      grid-column: span 3;
   }
   // .cctv__suits
   &__suits {
   }
}
.cctv-suits {
   &__suits {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(auto-fill, rem(140));
      gap: rem(55) rem(36);
      justify-content: space-between;
      @media (max-width: 767px) {
         gap: rem(25) rem(26);
      }
      @media (max-width: 660px) {
         grid-template-columns: repeat(3, rem(140));
         justify-content: space-around;
      }
      @media (max-width: 500px) {
         grid-template-columns: repeat(3, rem(80));
      }
   }
   &__additional-suits {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(auto-fill, rem(140));
      gap: rem(55) rem(36);
      margin-top: rem(36);
      @media (max-width: 660px) {
         grid-template-columns: repeat(3, rem(140));
         justify-content: space-around;
      }
      @media (max-width: 500px) {
         grid-template-columns: repeat(3, rem(80));
      }
      &[hidden] {
         display: none;
      }
   }
   &__image-sprite {
      display: none;
   }
   // .suits__suit
   &__suit {
      @include flex-center;
      width: rem(140);
      height: rem(140);
      font-size: rem(40);
      color: #b65978;
      font-weight: 600;
      background: rgba(250, 247, 245, 0.5);
      position: relative;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      align-self: end;
      @media (any-hover: hover) {
         &:hover {
            .cctv-suits__image {
               opacity: 1;
               fill: #f6a6bf;
               transform: rotate(-45deg);
            }
         }
      }
      @media (max-width: 500px) {
         width: rem(80);
         height: rem(80);
         flex-basis: 25%;
      }
      &--empty {
         //  visibility: hidden;
      }
   }
   // .suit__image
   &__image {
      position: absolute;
      right: rem(-14);
      bottom: 0;
      width: 50%;
      height: rem(59);
      stroke: #f6a6bf;
      stroke-width: 4;
      opacity: 0.7;
      fill: white;
      transition: transform 0.3s, opacity 0.3s;
      @media (max-width: 500px) {
         width: rem(40);
         height: rem(33);
         right: rem(-8);
      }
   }
   &__show-more {
      font-size: rem(14);
      line-height: math.div(20, 14);
      color: $mainGray;
      width: 100%;
      text-align: center;
      margin-top: rem(15);
      padding: rem(15) 0;
      display: none;
      &--active {
         display: block;
      }
   }
}
