.suits {
  @include avalue("margin-top", 150, 80);
  // .suits__containter
  &__containter {
  }
  // .suits__header
  &__header {
    display: flex;
    justify-content: space-between;
    row-gap: rem(50);
    align-items: center;
    margin-bottom: rem(35);
    margin-bottom: 50px;

    @media (max-width: 600 + px) {
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
    }
  }
  // .suits__title
  &__title {
    margin-bottom: 0;
    flex: 0 0 33.3333%;
  }
  &__special-offer {
    @include flex-center;
    flex-grow: 1;
  }

  // .suits__body
  &__body {
    display: grid;
    row-gap: rem(20);
    @include avalue("column-gap", 30, 10);
    grid-template: auto/ repeat(3, auto);
    @media (max-width: $tablet + px) {
      grid-template:
        "left right"
        "center center";
    }
    @media (max-width: 600 + px) {
      grid-template: "left" "right" "center";
    }
    // @include avalue("gap", 30, 10);
  }
  &__column {
    flex: 1 1 pc(380, $maxWidthContainer);
  }
}
