.suite {
   border: 1px solid rgba($mainPink, 0.5);
   height: 100%;
   min-width: 0;
   --rightArrow: url('data:image/svg+xml;utf8,<svg width="27" height="52" viewBox="0 0 27 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1L26 26L1 51" stroke="white"/></svg>');
   display: grid;
   grid-template: "slider" "table" "button";
   align-items: start;
   // .suite__slider
   &__slider {
      min-width: 0;
      max-width: 600px;
      overflow: hidden;
      position: relative;
      grid-area: slider;
      @media (max-width: $tablet + px) {
      }
      .swiper-wrapper {
         display: flex;
         min-width: 0;
      }

      .swiper-button-next,
      .swiper-button-prev {
         position: absolute;
         width: rem(52);
         top: 0;
         height: 100%;
         z-index: 10;
         &::before {
            content: "";
            background: no-repeat var(--rightArrow);
            position: absolute;
            top: 50%;
            height: rem(52);
            width: 50%;
         }
      }
      .swiper-button-next {
         right: 0;
         &::before {
            right: 50%;
            transform: translate(50%, -50%);
         }
      }
      .swiper-button-prev {
         left: 0;
         &::before {
            left: 50%;
            transform: translate(-50%, -50%) rotate(180deg);

         }
      }
      .swiper-button-disabled {
         opacity: 0.4;
      }
   }
   // .suite_props
   &_props {
      grid-area: table;
   }
   // .suite__slide
   &__slide {
      min-width: 0;
      flex: 0 0 100%;
      width: 100%;
      @include flex-center;
      background-color: rgba(#f6a6bf, .05);
      img {
         width: 100%;
         max-height: 500px;
         object-fit: cover;
         position: relative;
         z-index: 5;
      }
      .spinner {
         @include abs-center;
         @include size(80);
         z-index: 0;
      }
   }
   &__form {
      grid-area: button;
   }
   // .suite__button
   &__button {
      margin: rem(20) rem(25) rem(30) rem(25);
      width: calc(100% - rem(25) * 2);
      @media (max-width: 400px) {
         width: 100%;
         margin-left: 0;
         margin-right: 0;
      }
   }
}
.props {
   margin: rem(20);
   @media (max-width: 400px) {
      margin: rem(15);
   }
   &__head {
   }
   &__body {
   }
   // .props__row
   &__row {
      vertical-align: top;
      &:not(:last-child) {
         .props__name,
         .props__value {
            padding-bottom: rem(25);
         }
      }
      @media (max-width: 400px) {
         display: flex;
         flex-direction: column;
         &:not(:last-child) {
            padding-bottom: rem(20);
            .props__name,
            .props__value {
               padding-bottom: 0;
            }
         }
      }
   }
   &__first-row {
      &:not(:last-child) {
         .props__name,
         .props__value {
            padding-bottom: rem(40);
         }
      }
      @media (max-width: 400px) {
         font-size: rem(18);
         line-height: math.div(25, 18);
         &:not(:last-child) {
            .props__name {
               padding-bottom: rem(3);
            }
            .props__value {
               padding-bottom: 0;
            }
         }
      }
   }
   // .props__name
   &__name {
      color: $mainGray;
      padding-right: rem(35);
      @media (max-width: 400px) {
         padding-bottom: rem(5);
      }
   }
   // .props__suit-name
   &__suit-name {
      font-size: rem(20);
      line-height: math.div(28, 20);
      font-weight: 600;
      color: $mainPink;
      @media (max-width: 400px) {
         font-size: inherit;
         font-weight: inherit;
      }
   }
   // .props__value
   &__value {
   }
   &__value-list {
      @media (max-width: 400px) {
         display: flex;
         flex-wrap: wrap;
         gap: rem(30) rem(20);
      }
   }
   &__value-item {
      &:not(:last-child) {
         margin-bottom: rem(3);
      }
   }
   // .props__price
   &__price {
      font-size: rem(20);
      line-height: math.div(30, 20);
      font-weight: 500;
      @media (max-width: 400px) {
         font-size: inherit;
         font-weight: inherit;
      }
   }
}
