.suites {
  @include avalue("padding-top", 75, 40);
  @include avalue("margin-top", 75, 40);
  // .suites__containter
  &__containter {
  }
  // .suites__header
  &__header {
    display: flex;
    justify-content: space-between;
    row-gap: rem(50);
    align-items: center;
    margin-bottom: rem(35);
    margin-bottom: 50px;
    @media (max-width: 600 + px) {
      flex-wrap: wrap;
      height: auto;
      justify-content: center;
    }
    @media (max-width: 480px) {
        flex-direction: column;
    }
  }
  // .suites__title
  &__title {
    margin-bottom: 0;
    flex: 0 0 33.3333%;
    @media (max-width: 480px) {
        flex: 0 0 100%;
    }
  }
  &__special-offer {
    @include flex-center;
    flex-grow: 1;
  }
  // .suites__body
  &__body {
    display: grid;
    row-gap: rem(20);
    @include avalue("column-gap", 30, 10);
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr));
  }
}
