@use "sass:math";
@import "common/mixins";
@import "reset";

$fontFamily: Montserrat;
$fontSize: 16;
$minFontSize: 16;
$lineHeight: 22;
$background: #fff;
$mainTextColor: #242424;
$mainPink: #f6a6bf;
$mainGray: #848484;
$mainYellow: #fffef1;
$mainGreen: #28afc9;

$minWidth: 320;
$maxWidth: 1920;
$containerPadding: 30;
$maxWidthContainer: 1200 + $containerPadding; 

html {
   scroll-behavior: smooth;
}
body {
   font-family: $fontFamily;
   @include avalue("font-size", $fontSize, $minFontSize);
   line-height: math.div($lineHeight, $fontSize);
   color: $mainTextColor;
   background-color: $background;
   &::before {
      content: "";
      background-color: transparent;
      transition: background-color .5s;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 90;
      pointer-events: none;
   }
   &._lock {
      overflow: hidden;
      &::before {
         background-color: rgba(0, 0, 0, .8);
      }
   }
}
[class*="__container"] {
   max-width: $maxWidthContainer + px;
   // box-sizing: content-box;
   margin-left: auto;
   margin-right: auto;
   @if ($containerPadding > 0) {
      padding-left: math.div($containerPadding, 2) + px;
      padding-right: math.div($containerPadding, 2) + px;
      @media (max-width: 479.98px) {
         padding-left: 10px;
         padding-right: 10px;
      }
   }
}

@import "common/*";
@import "includes/*";
